<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="softwaretestingmaterial">
    <test name="testngTest">
        <groups>
            <run>
                <exclude name="Header Tests" />
            

            </run>
        </groups>
        <classes>
        <class name="demos.TestActivity5" />
        </classes>
    </test>
</suite>